# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 504122c55f9a5a41644ba5b2fcaec9786d141be722534474042348419cd2d3f99bd75b3f6b9057836df9b8b9eb0fb13e3d6dbcf5bf0369fbd3ded3aa2748f4f4

test:
  secret_key_base: 91254ea1e1f03c9dc64599d35ddd417a5822a817fc93c878a1d7b8f4a8e6f29fd5e9590870e2e18e74551958d3478f88b4c9a40f444ea355f189acc7c2682623

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>

production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
  facebook_app_id: 1671961436380885
  facebook_app_secret: <%= ENV["FB_KEY"] %>
